<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WordlessAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
		<cors enabled="true" failUnlistedOrigins="true">
            <add origin="http://192.168.56.10:8081" allowed="true">
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                     <add method="POST" />
                     <add method="GET" />
                </allowMethods>
			</add>

			<add origin="http://wordless.rwbutts.net:8080">			
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                    <add method="POST" />
                    <add method="GET" />
                </allowMethods>
			</add>

            <add origin="http://wordless.rwbutts.net">			
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>				
                     <add method="POST" />
                     <add method="GET" /> 
                </allowMethods>
			</add>

        </cors>

        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>